---
---

@import "jekyll-theme-minimal";


header {
  width: 200px !important; 
}

section {
  width: calc(100% - 250px) !important;
  max-width: none !important;
}

@media screen and (max-width: 768px) {
  header, section {
    width: 100% !important;
    width: auto !important;
    position: relative !important;
  }
}